
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>


      <h1>Signup</h1>
      <br>
      <form action="/login" method="POST">

        <input type="text" placeholder="Username" name="username">
          <br>
         <input type="password" placeholder="Password" name="password">
          <br>
        <input class="signupbutton" type="submit" value="SignUp">
      </form>
        <p class="error">{{msg}}</p>

</html>
